/*------------------------------- Contact ----------------------------------*/

.contact-section-container {
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

.contact-details {
    max-width: 40%;
}

.form-dl {    

}

.form-dl a {
    color: var(--main-text-and-accent-color);
    text-decoration: none;
    position: relative;
}

.form-dl a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: var(--main-pop-color);
    transition: .4s ease;
}

.form-dl a:hover {
    color: var(--main-pop-color);
}
.form-dl a:hover::after {
    width: 0;
}

.form-dl dt {
    text-transform: uppercase;
    color: var(--main-pop-color);
    /* margin-top: .8rem; */
}

.form-dl dd {
    margin: .6rem 0 .8rem 0;
}

.inline-dt-dd {
    display: inline-block;
    padding: 1rem 1.2rem 0 0;
    max-width: 150px;
    vertical-align: top;
}

@media only screen and (max-width: 480px) {
    .inline-dt-dd {
        display: inline-block;
        padding: 1rem 0 0 0;
        max-width: 130px;
        vertical-align: top;
    }
}

/*------------------------------- Form ----------------------------------*/

.form-container {
    position: relative;
    max-width: 45%;
}

.contact-form {
    font-size: 1.4rem;
}

.contact-form label {
    margin-bottom: 0.4rem;
    display: inline-block;
}

input {
    width: 100%;
    height: 2rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

textarea {
    display: block;
    width: 100%;
    height: 18.75rem;
    resize: none;
    font-size: 1.2rem;
}

.form-button {           /*addon to orange buttons*/
    display: block;
    margin: 3rem auto;
    width: 14rem;
    height: 4rem;
    font-size: 1.4rem;
    letter-spacing: 4px;
}

@media only screen and (max-width: 480px) {
    .contact-section-container {
        flex-direction: column;
        align-items: center;
    }
    .contact-details {
        max-width: 90%;
    }
    .form-container {
        max-width: 90%;
    }
}