/*------------------------------- Projects ----------------------------------*/

.projects-intro {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.2;
}

.projects-intro h2 {
    font-size: 1.9rem;
}

/* .carousel {  
    position: relative;
    height: 800px;
    width: 80%;
    margin: 5rem auto;
    background-color: darkslateblue;
}

.carousel-track-container {
    background-color: darkseagreen;
    height: 100%;
    width: 100%;
    position: relative;
}

.carousel-track {
    margin: 0;
    padding: 0;
}

.carousel-button {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-button-left {
    left: -6rem;
}

.carousel-button-right {
    right: -6rem;
} */

.project-tiles {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 5rem 0;
}


/*------------------------------- Tile cards ----------------------------------*/

.project-tile {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0;
    width: 350px;
    height: 450px;
    margin: 1rem;
    background-color: rgb(32, 32, 32);
    border: dimgray 10px groove;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tile-links {            
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: .5rem 0;
    background-color: hsla(0, 0%, 0%, .8);
}

.tile-link {          /*addon to orange buttons*/
    width: 9.5rem;
    height: 3rem;
}

/*------------------------------- Tile backgrounds ----------------------------------*/

.tile-1 {
    background-image: url(../resources/pictures/nav-bar-pic.png);
}

.tile-2 {
    background-image: url(../resources/pictures/flex-site-pic.png);
}

.tile-3 {
    background-image: url(../resources/pictures/fotomatic.png);
}

.tile-4 {

}

.tile-5 {

}

.tile-6 {
  
}