/*------------------------------- Projects ----------------------------------*/
/* 
.projects-intro {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 1.2rem;
    line-height: 20px;
} */

.projects-intro h2 {
    font-size: 1.9rem;
}

.project-tiles {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 80px 0;
}


/*------------------------------- Tile cards ----------------------------------*/

.project-tile {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 0;
    width: 350px;
    height: 450px;
    margin: 16px;
    background-color: var(--background-accent);
    border: var(--background-accent-borders) 10px groove;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tile-links {            
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 8px 0;
    background-color: var(--background-accent);
    border-top: var(--accent-pop-color) 6px groove;
}

.tile-link {          /*addon to orange buttons*/
    width: 152px;
    height: 48px;
}

/*------------------------------- Tile backgrounds ----------------------------------*/

.tile-1 {
    background-image: url(../resources/pictures/nav-bar-pic.png);
}

.tile-2 {
    background-image: url(../resources/pictures/flex-site-pic.png);
}

.tile-3 {
    background-image: url(../resources/pictures/fotomatic.png);
}

.tile-4 {

}

.tile-5 {

}

.tile-6 {
  
}