body, html, li, ul, nav, div, header, img, input, span, h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
 }

html[theme=retro] {
    box-sizing: border-box;
    font-size: 16px;
}

:root {
    --retro-orange: darkorange;
    --button-border: rgb(212, 117, 0);
    --button-text: rgb(235, 235, 235);
    --button-text-shadow: rgb(173, 95, 0);
    --retro-pink: rgb(255, 0, 149);
    --retro-white: rgb(235, 235, 235);
    --off-black-background: hsl(0, 0%, 6%);
    --black-accent: hsl(0, 0%, 12%);
    --black-borders: hsl(0, 0%, 20%);
}

/* :root {
    --retro-orange: rgb(0, 187, 201);
    --button-border: rgb(0, 155, 167);
    --button-text: rgb(235, 235, 235);
    --button-text-shadow: rgb(0, 124, 133);
    --retro-pink: rgb(255, 0, 149);
    --retro-white: rgb(43, 43, 43);
    --off-black-background: hsl(0, 0%, 83%);
    --black-accent: hsl(203, 14%, 60%);
    --black-borders: rgb(0, 124, 133);
} */

.site-settings[theme=retro] {
    background-color: var(--off-black-background);
    font-family: 'Press Start 2P', cursive;
    color: var(--retro-white);
}

@media only screen and (max-width: 900px) {
    html {
        font-size: .8rem;
    }
}

a[theme=retro] {
    text-decoration: none;
    color: var(--retro-white);
}

a:hover {
    color: var(--retro-orange);
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .blinker {
    animation: blinker 1s step-start infinite;
  }

/*------------------------------ Scroll bar ----------------------------------*/

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--off-black-background); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--retro-orange); 
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(41, 95%, 63%); 
  }

/*------------------------------ Fixed overlay stuff ----------------------------------*/

.github-icon-1[theme=retro] {
    position: fixed;
    z-index: 10;
    bottom: 40px;
    right: 40px;
    width: 45px;
}

.github-icon-2[theme=retro] {
    display: none;
}

.github-bubble {
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 70px;
    right: 20px;
    width: 260px;
}

.github-icon:hover,
.github-icon:focus {
    transform: translateY(-6px);
}

.github-icon:hover ~ .github-bubble,
.github-icon:focus ~ .github-bubble{
    display: block;
}

/*------------------------------ Nav bar ----------------------------------*/

.top-nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    z-index: 10;
}

.top-nav a {
    margin: 0 35px;
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--retro-white);
}

.nav-button {
    display: none;
}

.nav-button-label {
    margin-right: 35px;
    cursor: pointer;
    padding: 1rem 0;
}

.nav-button-label span,
.nav-button-label span::before,
.nav-button-label span::after {
    display: block;
    background-color: var(--retro-white);
    height: 4px;
    width: 42px;
    position: relative;
    transition: .5s ease,
                background-color 0s;
}

.nav-button-label span::before,
.nav-button-label span::after {
    content: '';
    position: absolute;
}

.nav-button-label span::before {
    bottom: 14px;
}

.nav-button-label span::after {
    top: 14px;
}

.nav-button-label span:hover,
.nav-button-label span:hover::before,
.nav-button-label span:hover::after {
    background-color: var(--retro-orange);;
}

.top-nav a:hover,
.top-nav a:focus {
    color: var(--retro-orange);;
}

@media screen and (max-width: 1640px) {
    .top-nav {
        background-color: var(--off-black-background);
        height: 56px;
    }
    .github-icon {
        width: 30px;
    }
}
/* -------------------------- Button spin ----------------------------- */

.nav-button:checked ~ label span {
    transform: rotate(45deg);
    transition: transform .5s;
}

.nav-button:checked ~ label span::before {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom .5s, transform .5s ease;
}

.nav-button:checked ~ label span::after {
    top: 0;
    transition: top .5s ease;
}

/* -------------------------- Slide nav page ----------------------------- */

.slide-nav {
    z-index: -1;
    position: fixed;
    display: flex;
    align-items: center;
    top: 150%;
    height: 100vh;
    width: 100%;
    justify-content: center;
    background-color: var(--off-black-background); 
    transition: top .5s ease-out;
}

.slide-nav ul {
    list-style: none;
}

.slide-nav li {
    padding: 64px 0;
}

.slide-nav li a {
    font-size: 3.5rem;
    letter-spacing: .2rem;
}

.slide-nav li a::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--retro-orange);;
}

.slide-nav li a:hover::before,
.slide-nav li a:focus::before {
    background-color: white;
    transform: scale(1.6);
    animation: blinker 1s step-start infinite;
}

.nav-button:checked ~ .slide-nav {
    top: 0;
    transition: top .5s ease-out .3s;
}

.nav-button:checked ~ .slide-one {
    top: 0;
    transition: top .5s ease-out;
}

/*----- focus nav ---*/

.slide-nav:focus-within {
    top: 0;
    transition: top .5s ease-out .3s;
}

.slide-one {
    z-index: -1;
    position: fixed;
    top: 150%;
    height: 100vh;
    width: 100%;
    background-color: var(--retro-orange);;
    transition: top .5s ease-out .3s;
}

@media only screen and (max-width: 900px) {
    .slide-nav li {
        padding: 32px 0;
    }
    .slide-nav li a {
        font-size: 2rem;
        letter-spacing: .1rem;
    }
    .slide-nav li a::before {
        width: 15px;
        height: 15px;
        animation: blinker 1s step-start infinite;
    }
    .slide-nav li a:hover::before,
    .slide-nav li a:focus::before {
    transform: scale(1.2);
    }
}

/*------------------------------- Orange navigation buttons ----------------------------------*/

.orange-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--button-text);
    border: var(--button-border) 5px groove;
    background-color: var(--retro-orange);;
    text-shadow: 2px 2px var(--button-text-shadow);
    box-shadow: rgb(0, 0, 0) 0px 20px 20px -10px;
}

.orange-button:hover,
.orange-button:focus {
    background-color: var(--retro-white);
    color: var(--retro-orange);;
    transform: translate(2px, -3px);
}

/*------------------------------- Header ----------------------------------*/

header {
    width: 100%;
    height: 100vh;
}

.head-wrap {
    height: 100vh;
}

.intro-text {
    position: relative;
    top: 45%;
    left: 3%;
    max-width: 640px;
}

.first-letter {
    font-size: 3rem;
    font-weight: bold;
}

.name {
    font-size: 2rem;
}

.intro-text h1 {
    font-weight: lighter;
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 50px;
} 

strong {
    font-size: 2rem;
}

.down-arrow {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 32px;
}

@media only screen and (max-width: 420px) {
    .intro-text {
        top: 35%;
    }
}

/*------------------------------- Main ----------------------------------*/

img {
    width: 100%;
}

.section {
    width: 100%;
    overflow: hidden;
}

.wrap {
    margin: 0 auto;
    padding: 0 16px 0 16px;
    max-width: 1100px;
}

.page-link {              /*addon to orange buttons*/
    display: inline-flex;
    width: 152px;
    height: 32px;
    margin: 16px 0;
}

.down-arrow-inflow {
    width: 32px;
}

/*------------------------------- Fill ----------------------------------*/

.fill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 480px 16px;
    font-size: 1.6rem;
    max-width: 800px;
}

.fill h2 {
    font-weight: normal;
}

.first-fill-left {
    margin: 32px auto 32px 12rem;
}
.first-fill-right {
    margin: 32px 12rem 32px auto;
}

.second-fill-left {
    margin: 32px auto 32px 0;
}
.second-fill-right {
    margin: 32px 0 32px auto;
}

.third-fill-left {
    display: inline-block;
}
.third-fill-right {
    display: inline-block;
}

.fill span {
    color: var(--retro-pink);
}

@media only screen and (max-width: 590px) {
    .slide-in-left {
        margin: 32px 0 32px auto;
    }
    .slide-in-right {
        margin: 32px 0 32px auto;
    }
    .fill h2 {
        text-align: right;
    }
    .center-fill-text {
        text-align: right;
    }
}

/*------------------------------- About Section ----------------------------------*/

.about-image {
    max-width: 320px;
    margin-top: auto;
}

.about-box {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.about-text {
    line-height: 29px;
    font-size: .8rem;
    padding: 80px 16px 16px 16px;
    max-width: 70%;
    margin-bottom: auto;
}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 64px;
}

.about-text p {
    opacity: .9;
}

.tech-icon-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 32px;
}

.html-icon {
    width: 130px;
}

.mini-dan {
    display: none;
}

@media  only screen and (max-width: 760px) {
    .about-image {
        display: none;
    }
    .about-text {
        max-width: 90%;
    }
    .mini-dan {
        display: block;
    }
}

/*------------------------------- Project section ----------------------------------*/

.section-title {
    text-align: center;
}

.section-title h2 {
    margin-bottom: 64px;
    font-size: 2rem;
}

.git-links {          /*add on orange buttons*/
    display: inline-flex;
    width: 140px;
    height: 40px;
    font-size: .9rem;
}

.git-box {
    display: flex;
    padding-top: 48px;
    justify-content: space-evenly;
    width: 100%;
}
.used-tech-box {
    display: flex;
    padding-top: 16px;
    justify-content: space-evenly;
    width: 100%;
    opacity: .7;
}

.project-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 96%;
    padding: 48px 0rem;
    margin: 8rem 0 0 0;
    background-color: var(--black-accent);
    border: 16px groove var(--black-borders);
}

.project-box-left {
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.project-box-right {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.project-text {
    max-width: 480px;
    min-width: 160px;
    margin: 32px 16px 16px 16px;
    line-height: 20px;
    font-size: .8rem;
}

.project-text h3 {
    font-size: 1.4rem;
    letter-spacing: .1rem;
}

.project-box p {
    opacity: .8;
}

.project-img {
    max-width: 560px;
    min-width: 160px;
    margin: 1rem;
    border: var(--retro-pink) 4px double;
    box-shadow: rgb(0, 0, 0) 0px 20px 20px -5px;
}

.project-img:hover {
    transform: translateY(-8px);
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end-button {           /* orange button addon*/
    width: 350px;
    height: 100px;
    font-size: 1.5rem;
    margin: 128px 0;
    border: 10px;
    border: var(--button-border) 10px groove;
}

@media only screen and (max-width: 900px) {
    .project-box {
        flex-direction: column;
    }
    .project-box-right {
        flex-direction: column-reverse;
    }
    .project-box-left {
        box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;    
    }
    
    .project-box-right {
        box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;    
    }
    .project-text {
        max-width: 90%;
    }
    .git-links {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 420px) {
    .git-links {
        width: 120px;
        height: 40px;
        font-size: 1rem;
    }
    .end-button {
        width: 95%;
    }
}
/*------------------------------- Footer ----------------------------------*/

footer {
    position: relative;
    padding: 140px 0 140px 0;
    width: 100%;
    border-top: double 6px var(--black-accent);
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.resources {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.footer h4 {
    font-size: 1.3rem;
    padding-bottom: 80px;
    letter-spacing: 5px;
    color: rgb(131, 131, 131);
}

.resources ul {
    list-style: none;
}

.resources li {
    line-height: 60px;
    text-align: center;
}

.resources li a {
    text-decoration: none;
    font-size: .9rem;
    color: rgb(131, 131, 131);
}

.resources li a:hover {
    text-decoration: underline
}

.dan-co {
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
}



