body, html, li, ul, nav, div, header, img, input, span, h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
 }

body {
    font-weight: normal;
    background-color: hsl(0, 0%, 3%);
    font-family: 'Press Start 2P', cursive;
    color: rgb(235, 235, 235);
}

html {
    box-sizing: border-box;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: darkorange;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  .blinker {
    animation: blinker 1s step-start infinite;
  }

/*------------------------------ Scroll bar ----------------------------------*/

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: hsl(0, 0%, 3%); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: darkorange; 
    border-radius: 25px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(41, 95%, 63%); 
  }

/*------------------------------ Nav bar ----------------------------------*/

.top-nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3.5rem;
    z-index: 10;
}

.top-nav a {
    margin: 0 2rem;
    font-size: 1.2rem;
    font-family: 'Press Start 2P', cursive;
    color: rgb(235, 235, 235);
}

.nav-button {
    display: none;
}

.nav-button-label {
    margin-right: 2rem;
    cursor: pointer;
    padding: 1rem 0;
}

.nav-button-label span,
.nav-button-label span::before,
.nav-button-label span::after {
    display: block;
    background-color: rgb(235, 235, 235);
    height: 3px;
    width: 2.2rem;
    position: relative;
    transition: .5s ease,
                background-color 0s;
}

.nav-button-label span::before,
.nav-button-label span::after {
    content: '';
    position: absolute;
}

.nav-button-label span::before {
    bottom: 12px;
}

.nav-button-label span::after {
    top: 12px;
}

.nav-button-label span:hover,
.nav-button-label span:hover::before,
.nav-button-label span:hover::after {
    background-color: darkorange;
}

.top-nav a:hover,
.top-nav a:focus {
    color: darkorange;
}

/* -------------------------- Button spin ----------------------------- */

.nav-button:checked ~ label span {
    transform: rotate(45deg);
    transition: transform .5s;
}

.nav-button:checked ~ label span::before {
    bottom: 0;
    transform: rotate(90deg);
    transition: bottom .5s, transform .5s ease;
}

.nav-button:checked ~ label span::after {
    top: 0;
    transition: top .5s ease;
}

/* -------------------------- Slide nav page ----------------------------- */

.slide-nav {
    z-index: -1;
    position: fixed;
    display: flex;
    align-items: center;
    top: 150%;
    height: 100vh;
    width: 100%;
    justify-content: center;
    background-color: hsl(0, 0%, 3%);
    transition: top .5s ease-out;
}

.slide-nav ul {
    list-style: none;
}

.slide-nav li {
    padding: 4rem 0;
}

.slide-nav li a {
    font-size: 3.5rem;
    letter-spacing: .2rem;
}

.slide-nav li a::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: darkorange;
}

.slide-nav li a:hover::before,
.slide-nav li a:focus::before {
    background-color: white;
    transform: scale(1.6);
    animation: blinker 1s step-start infinite;
}

.nav-button:checked ~ .slide-nav {
    top: 0;
    transition: top .5s ease-out .3s;
}

.nav-button:checked ~ .slide-one {
    top: 0;
    transition: top .5s ease-out;
}

/*-----focus nav ---*/

.slide-nav:focus-within {
    top: 0;
    transition: top .5s ease-out .3s;
}


.slide-one {
    z-index: -1;
    position: fixed;
    top: 100%;
    height: 100vh;
    width: 100%;
    background-color: darkorange;
    transition: top .5s ease-out .3s;
}

/*------------------------------- Orange navigation buttons ----------------------------------*/

.orange-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(235, 235, 235);
    border: darkorange 5px groove;
    background-color: darkorange;
    font-family: 'Press Start 2P', cursive;
}

.orange-button:hover,
.orange-button:focus {
    background-color: rgb(235, 235, 235);
    color: darkorange;
}

/*------------------------------- Header ----------------------------------*/

header {
    width: 100%;
    height: 100vh;
}

.head-wrap {
    height: 100vh;
}

.intro-text {
    position: relative;
    top: 45%;
    left: 3%;
    max-width: 40rem;
    font-family: 'Press Start 2P', cursive;
}

.first-letter {
    font-size: 3rem;
    font-weight: bold;
    line-height: normal;
}

.intro-text h1 {
    font-weight: lighter;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    line-height: 1.2;
} 

.down-arrow {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 2rem;
}



/*------------------------------- Main ----------------------------------*/

img {
    width: 100%;
}

.section {
    width: 100%;
}

.wrap {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1400px;
    /* min-width: 90%; */
}

.page-link {              /*addon to orange buttons*/
    display: inline-flex;
    width: 9.5rem;
    height: 2rem;
    margin: 1rem 0;
}

/*------------------------------- Fill ----------------------------------*/

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20rem 1rem;
    font-size: 1.6rem;
    font-family: 'Press Start 2P', cursive;
}

.fill h2 {
    font-weight: normal;
    color: rgb(235, 235, 235);
}

.fill span {
    color: rgb(255, 0, 149);
}

/*------------------------------- About Section ----------------------------------*/


/*------------------------------- Project section ----------------------------------*/

.section-title {
    text-align: center;
}

.section-title h2 {
    margin-bottom: 4rem;
}

.git-links {
    display: inline-flex;
    width: 160px;
    height: 50px;
    font-size: .9rem;
}

.git-box {
    display: flex;
    padding-top: 3rem;
    justify-content: space-evenly;
    width: 100%;
}

.project-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 6rem;
}

.project-text {
    max-width: 30rem;
    min-width: 10rem;
    margin: 2rem 1rem 1rem 0;
    line-height: 1.2rem;
    font-size: .8rem;
}

.project-text h3 {
    font-size: 1.2rem;
}

.project-img {
    max-width: 40rem;
    min-width: 15rem;
    margin: 1rem;
    border: darkorange 7px groove;
}

/*------------------------------- Footer ----------------------------------*/

footer {
    position: relative;
    width: 100%;
    height: 40vh;
}

footer p {
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
}

/*------------------------------- Media queries ----------------------------------*/


@media only screen and (max-width: 900px) {
    .fill h2 {
        text-align: right;
    }
    .project-box {
        flex-direction: column;
    }
    .project-box-2 {
        flex-direction: column-reverse;
    }
    .project-text {
        max-width: 90%;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {

}