/* ------------------------------ Page transitions ---------------------*/

.transition-1 {
    position: fixed;
    width: 100%;
    right: -100%;
    top: 0;
    bottom: 0;
    z-index: 11;
    background-color: var(--retro-orange);;
}

.transition-1.is-active {
    right: 0;
    transition: right .3s ease-out;
}

.transition-2 {
    position: fixed;
    width: 100%;
    left: -100%;
    top: 0;
    bottom: 0;
    z-index: 11;
    background-color: var(--retro-orange);;
    transition: left .3s ease-out;
}

.transition-2.is-active-2 {
    left: 0;
}

/* ------------------------------ Text slide transitions ---------------------*/

.slide-in-left {
    transform:translateX(-1200%);
}

.slide-in-right {
    transform:translateX(1200%);
}

.fade-in {
    opacity: 0;
}

.slide-in-left.active,
.slide-in-right.active {
    transform:translateX(0);
    transition: .5s ease-out;
}

.fade-in.active {
    opacity: 1;
    transition: 1s ease-out;
}